<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    <form action="" method="post">
        <table>
            <tr>
                <td>District</td>
                <td><select name="sel_district" id="sel_district">
                    <option value="">...Select...</option>
                    {% for i in district %}
                    <option value="{{i.id}}">{{i.district.district_name}}</option>
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td>Place</td>
                <td><select name="sel_place" id="sel_place">
                    <option value="">...Select...</option>
                </select></td>
            </tr>
        </table>
    </form>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $("#sel_district").change(function () {
        var did = $(this).val();
        var ur = "{% url 'webuser:ajaxplace' %}"
        $.ajax({
            url: ur,
            data: { disd: did, },
            success: function (data) {
                $("#sel_place").html(data);
            },
        });
    });
</script>