<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Place</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>Place</td>
                <td><input type="text" name="txt_place" id=""></td>
            </tr>
            <tr>
                <td><input type="submit" value="Add"></td>
            </tr>
        </table>
    </form>
    <table>
        <tr>
            <td>#</td>
            <td>place</td>
            <td>Action</td>
        </tr>
        {% for i in plc %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.place.place_name}}</td>
            <td></td>
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>